<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="Layer" value="196, 33, 7" />-->
    <add key="Layers" value="196, 33, 7" />
    <add key="ActivationFunction" value="Bipolar" />
    <add key="TrainingAlgorithm" value="Backpropagation" />
    <add key="LearningRate" value="0.01" />
    <add key="Momentum" value="0" />
  </appSettings>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>